extends layout.pug

include utils.pug

block content
    .containter(class='d-flex flex-row justify-content-between')
        h1(class='display-6')= question.title
        
    p(class='small' style='color:lightgray;')= question.createdAt
    figcaption(class="blockquote-footer my-2")= author.username
    br
    p(class="shadow p-3 bg-white rounded")= question.body
    if isAuthor
        .conatiner(class='d-flex justify-content-between')
            a(class='btn btn-sm btn-warning' href=`/questions/${question.id}/edit`) Edit
            form(action=`questions/${question.id}/delete` method='POST')
                input(class='btn btn-sm btn-danger' type='submit' value='Delete')   
    
    a(class='btn btn-sm btn-primary my-4' href='/questions') Back
