mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
  div(class='form-group')
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue class='form-control')

mixin questionsList(questions)
  ul(class=' border shadow-lg p-3 my-4 bg-white rounded list-group')
    each q in questions
      li(class='list-group-item')
              span
                  a(href=`/questions/${q.id}`)
                      h4= q.title
                  .small= `Answers: ${q.answers.length}`
                      if (q.answers.length === 0 && user && user.role === 'instructor') 
                          em(class='small mx-1') Be the first to answer!
                  .small(style='color:lightgray;')= q.createdAt

mixin questionForm(isEdit)
  +validationErrorSummary(errors)
  h2 Ask your Question
  form(action=`/questions${isEdit ? `/${question.id}` : ""}` method="POST")
      input(type="hidden" name="_csrf" value=csrfToken)
      +field("Title", "title", question.title)
      div(class='form-group')
          label(for='body') Body
          textarea(id='body' name='body' class='form-control')= question.body
      input(class='btn btn-primary my-2' type='submit' value='Submit')
